*{
    margin: 0%;
    padding: 0%;
}
@media (max-width:1191px){
    .measure-text{
        text-align: center;
    }
    .company-logos .img-fluid {
        padding-left: 26px;
    }
}
@media (max-width:991px){
    .measure-text{
        text-align: center;
    }
    .company-logos .img-fluid {
        padding-left: 26px;
    }
    p{
     text-align: center;   
    }
}
@media (max-width:767px){
    .measure-text{
        text-align: center;
    }
    .company-logos .img-fluid {
        padding-left: 26px;
    }
    p{
        text-align: center;   
       }
       .toggler {
        margin-right: 4rem;
    }
}
@media (max-width:567px){
    .measure-text{
        text-align: center;
    }
    .company-logos .img-fluid {
        padding-left: 26px;
    }
    p{
        text-align: center;   
       }
       .toggler {
        margin-right: 4rem;
    }
}